/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/produk/*
/public/bukti_pembayaran/*
/public/progress_pembelian/*
/public/progress_custom/*
/public/custom_designs/*
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
