:root {
    --thm-gray: #7c7b7f;
    --thm-gray-rgb: 124, 123, 127;
    --thm-black: #121212;
    --thm-black-rgb: 18, 18, 18;
    --thm-base: #84d19f;
    --thm-base-rgb: 132, 209, 159;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--thm-black);
    font-weight: 600;
    line-height: 1.25em;
    font-family: var(--thm-font-4);
    margin: 0;
}