:root {
    --thm-gray: #716f6d;
    --thm-gray-rgb: 113, 111, 109;
    --thm-black: #323130;
    --thm-black-rgb: 50, 49, 48;
    --thm-base: #f6931d;
    --thm-base-rgb: 246, 147, 29;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--thm-black);
    font-weight: 600;
    line-height: 1.25em;
    font-family: var(--thm-font-4);
    margin: 0;
}